@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1><a href="https://policies.google.com/privacy?hl=en-US">Click for privacy policy</h1>
<p>Use this page to detail your site's privacy policy.</p>
